.grid-component {
  position: relative;
  width: 200px;
}

.grid-container {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f3f3f3;
}

.grid-component {
  height: 150px !important;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

#top-main-menu {
  display: flex;
  height: 27px;
  background-color: #80397b;
  margin-top: 5px;
}

body {
  margin-top: 10px;
  min-width: 320px !important;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0px 5px;
}

#main-app-layout {
  display: flex;
}
#main-app-layout .templateChoices {
  background-color: #f7f7f7;
  width: 330px;
  min-width: 330px;
  height: 100vh;
  overflow: auto;
}
#main-app-layout .templateChoices p {
  margin: 3px 11px;
  margin-bottom: 6px;
  font-size: 14px;
  cursor: pointer;
}
#main-app-layout .macro-generator-container {
  background-color: #ebebeb;
  width: 1200px;
  height: calc(100vh - 44px);
  display: flex;
  justify-content: center;
  padding: 7px 8px;
  overflow: hidden;
}
#main-app-layout .macro-generator-container .function-break-down {
  display: flex;
  flex-flow: row wrap;
  margin: 0px 10px;
  width: inherit;
}
#main-app-layout .macro-generator-container .function-break-down a {
  color: black !important;
  margin-bottom: 14px;
}
#main-app-layout .macro-generator-container .function-break-down p {
  cursor: pointer;
  border: 1px black solid;
  padding: 7px 7px;
  text-align: center;
  width: fit-content;
  margin-right: 8px;
  border-radius: 15px;
  margin-bottom: 0px;
}
#main-app-layout .macro-generator-container .function-break-down p:hover, #main-app-layout .macro-generator-container .function-break-down p.active {
  background: black;
  color: white;
  font-weight: bolder;
}
#main-app-layout .macro-generator-container .template-display-inner-cont {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  background-color: white;
  width: 100%;
  padding: 8px 4px;
}
#main-app-layout .macro-generator-container .template-display-inner-cont .template-code-cont {
  background: #f9f9f9;
  display: none;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  margin: 6px 7px 6px 7px;
  padding-top: 0px;
}
#main-app-layout .macro-generator-container .template-display-inner-cont .template-code-cont.active {
  display: flex;
}
#main-app-layout .macro-generator-container .template-display-inner-cont .template-code-cont .codeDiv {
  width: fit-content;
}
#main-app-layout .macro-generator-container .template-display-inner-cont .template-code-cont .codeDiv.highlighted {
  background: #3e34342f !important;
}
#main-app-layout .macro-generator-container .template-display-inner-cont .template-code-cont code {
  background: none !important;
}
#main-app-layout .macro-generator-container .template-display-inner-cont .template-code-cont pre {
  background: rgba(247, 247, 247, 0.49) !important;
  margin-bottom: 0px;
  width: fit-content;
}
#main-app-layout .macro-generator-container .template-funcs {
  display: flex;
}
#main-app-layout .macro-generator-container pre {
  width: inherit;
  overflow: unset !important;
}
#main-app-layout .macro-generator-container pre code {
  background-color: white;
  font-size: 14px !important;
}
#main-app-layout .macro-generator-container pre code .section {
  background-color: aqua;
}
#main-app-layout .informationBox {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 8px;
  overflow: hidden;
}
#main-app-layout .informationBox .template-info-cont {
  width: max(315px, 100%);
  background: #fdfdfd;
  height: 33.33%;
  border: 2px #ededed solid;
  margin-bottom: 7px;
  padding: 7px 4px;
}
#main-app-layout .informationBox .template-info-cont .descrip-txt {
  color: #6d6d6d !important;
  font-weight: 550;
  text-align: left;
  margin: 0px 9px 4px 12px;
  font-size: 14px !important;
  width: inherit;
}
#main-app-layout .informationBox .template-info-cont .descrip-header {
  color: black !important;
  font-weight: 600;
  text-align: left;
  margin: 0px 9px 4px 7px;
  font-size: 15px !important;
  width: inherit;
}
#main-app-layout .informationBox .template-targetcol-cont {
  width: max(315px, 100%);
  background: #fdfdfd;
  height: 33.33%;
  border: 2px #ededed solid;
  margin-bottom: 7px;
  padding: 7px 4px;
  overflow: auto;
  margin-bottom: 0px !important;
}
#main-app-layout .informationBox .template-targetcol-cont .insert_checkbox {
  padding-left: 6px;
}
#main-app-layout .informationBox .template-targetcol-cont .column-input-form {
  display: flex;
  margin: 0px 7px;
  justify-content: space-between;
}
#main-app-layout .informationBox .template-targetcol-cont Button {
  padding: 4px 7px;
  height: 37px;
}
#main-app-layout .informationBox .template-targetcol-cont .column-input {
  width: calc(100% - 115px);
}
#main-app-layout .informationBox .template-targetcol-cont .column_choices_list {
  display: flex;
  margin: 0px 7px;
  justify-content: space-between;
}
#main-app-layout .informationBox .template-targetcol-cont .column_choices_list .drop-down-cont {
  width: 105px;
  margin-right: 45;
}
#main-app-layout .informationBox .template-targetcol-cont .column_choices_list .drop-down-cont .column-picker {
  display: flex;
  justify-content: space-between;
}
#main-app-layout .informationBox .template-targetcol-cont .column_choices_list .drop-down-cont i {
  margin-left: 0px;
  margin-top: 5px;
}
#main-app-layout .informationBox .template-targetcol-cont .column_choices_list p {
  width: fit-content;
  margin-bottom: 8px;
}
#main-app-layout .informationBox .template-code-opt-cont {
  width: max(315px, 100%);
  background: #fdfdfd;
  height: 33.33%;
  border: 2px #ededed solid;
  margin-bottom: 7px;
  padding: 7px 4px;
}
#main-app-layout .informationBox .template-code-opt-cont .code-option-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 7px 8px 0px 8px;
  height: 90%;
  overflow: auto;
}
#main-app-layout .informationBox .template-code-opt-cont .code-option-box div.code-tooltip {
  width: 100%;
  text-align: center;
  background: black;
  color: white;
  font-weight: 700;
  margin-top: 5px;
}
#main-app-layout .informationBox .template-code-opt-cont .code-option-box div.code-tooltip.show {
  visibility: visible;
}
#main-app-layout .informationBox .template-code-opt-cont .code-option-box div.code-tooltip.hide {
  visibility: hidden;
}
#main-app-layout .informationBox .template-code-opt-cont .code-option-box div.code-tooltip.clicked {
  visibility: visible;
  background-color: green;
}
#main-app-layout .informationBox .template-code-opt-cont .code-option-box img {
  height: calc(100% - 20px);
  width: calc(100% - 35px);
  position: relative;
  cursor: pointer;
}
#main-app-layout .informationBox .template-code-opt-cont .code-option-box .option-select {
  width: 130px;
  height: 115px;
  border: 2px black solid;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-choice-header-h1, .template-display-inner-cont {
  width: 100%;
  border: 2px #ededed solid;
  padding: 8px 4px;
  background: white;
  height: 100%;
}

.populate_report_row {
  background: black;
}

.templateChoiceMenu {
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
  padding: 7px 8px;
  height: calc(100vh - 44px);
}
.templateChoiceMenu p {
  width: inherit;
  padding-left: 32px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.templateChoiceMenu p:hover {
  font-weight: 700;
}

.alert-dark {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.menu-header-h1 {
  font-weight: 550;
  font-size: 17px !important;
  text-align: left;
  margin: 10px 7px 6px 7px;
  border-bottom: 2px black solid;
  cursor: pointer;
}
.menu-header-h1.menu-choice {
  margin-top: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  font-size: 17px !important;
  line-height: 1.4285em;
}

.menu-header-h2 {
  color: #6d6d6d !important;
  font-weight: 550;
  font-size: 13px !important;
  text-align: left;
  margin: 0px 9px 4px 7px;
  border-bottom: 1px #6d6d6d solid;
  padding: 4px 0px !important;
}

#drop-area-container {
  grid-area: nodeDropArea;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-wrap: wrap;
  border: 2px black solid;
  height: 150px !important;
  align-content: start;
}

#column_choices_list {
  display: flex;
}
#column_choices_list .radio {
  margin-left: 9px;
}
#column_choices_list label {
  padding-left: 20px;
}
#column_choices_list p {
  font-size: 1rem;
  padding-right: 50px;
}

.node-prop.tab-lbl {
  font-size: 16px;
}

.ui.menu .item {
  font-weight: 700 !important;
}

.disabled {
  pointer-events: none;
  color: darkgrey;
}

.text-input {
  width: 100%;
  margin: 10px 7px 6px 7px;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
}

/* header section */
.ui.menu {
  background: #1078f7;
  border: 0px;
  margin-bottom: 0px;
}
.ui.menu .active.item {
  background: #ebebeb;
  color: black;
}

/*# sourceMappingURL=header.css.map */
