@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

%grid-style {
    position: relative;
    width: 200px;
}

.grid-container {
    display: flex;
    padding-top:8px;
    padding-bottom:8px;
    background-color:#f3f3f3
}

.grid-component{
    @extend %grid-style;
}

.grid-component {
    height: 150px !important;
}

.node-item {
    // border: 2px black solid;
    width: 80px;
    height: 80px;
    // margin: 0px 15px;
    margin-right: 15px;

    &.onCanvas {
      margin-bottom: 15px;
    }
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }

  body {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
  }

  .top-node {
    height:100%;
    width: 100%;
  }

  button {
    z-index: 100;
  }

  #top-main-menu {
    display: flex;
    height: 27px;
    background-color: #80397b;
    // margin-bottom: 20px;
    margin-top: 5px;
    // margin-bottom: 10px;
  }

  .menu-btn {
      // background-color: #80397b;
      color: white;
      font-weight: 550;
      font-size:16px;
      height: 100%;
      width: 170px;
      text-align: center;
      cursor: pointer;

      &.clicked {
        background-color: #f3f3f3;
        color: #80397b;
      }
  }

  //seperate into another scss file later
  body {
    margin-top: 10px;
    min-width: 320px !important;
  }

  #root {
    width: 100%;
    height: 100%;
    margin: 0px 15px;
  }

  //grid layouts

  #node-area-layout {
    //overall layout
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-template-rows: 150px minmax(250px, auto)
  }
  
  #drop-area-container {
    grid-area: nodeDropArea;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-wrap: wrap;
    border: 2px black solid;
    height: 150px !important;
    // width: 90%;
    align-content: start;
  }

  #node-property-container {
    grid-area: nodePropertyArea;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 2px black solid;
    padding-top: 4px;
    padding-left: 1px;
    padding-right: 5px;
    // height: 400px;
    // max-width: 538px;
  }

  #macro-generator-container {
    grid-area: macroGeneratorArea;
    border: 2px black solid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    // white-space: pre-wrap;
    // height: 400px;
  }



  .node-prop {
    &.tab-lbl {
      font-size: 16px
    }
  }

  .ui.menu .item {
    font-weight: 700 !important;
  }

  .disabled {
    pointer-events: none;
    color: darkgrey;
  }

  .text-input {
    width: 100%;
  }