@import "libs/vars";
@import "libs/functions";
@import "libs/mixins";
@import "libs/vendor";
@import "libs/breakpoints";
@import "libs/html-grid";

//seperate into another scss file later
#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main-app-layout {
  display: flex;
}