.editor-optn-cont {
    // border: 2px solid black;
    padding: 7px 3px;
    
    & .react-switch {
        margin-left: 15px;
    }

    & .config-btn:not(:first-child) {
        margin-top: 7px;
    }

    & .ui.blue.basic.button.config-btn {
        width: 100%;
        font-weight: 600;
    }

    & .ui.blue.basic.button.config-btn:hover {
        color: white!important;
        background-color: #1078f7!important;
    }

    & .editor-switch-cont {
        display: flex;
        margin-top: 12px;

        & .switch-lbl {
            font-weight: 600;
            margin-bottom: 14px;
            padding-top: 4px;
            font-size: 16px;
        }
    }
}

.set-editor-pw-modal {
    background-color: grey;
}

.set-pw-modal-cont {
    display: flex;
    justify-content: center;
    align-items: center;

    .set-pw-modal {
        background-color:white
    }
}

.menu-choice-container {
    display: flex;
    flex-direction: column;
    background:#f7f7f7;
    padding: 7px 8px;
    height: calc(100vh - 44px);
      
    & .menu-choice-header-h1 p {
        // width: 80%;
        padding-left: 32px;
        font-size: 18px;
        cursor: pointer;
        border: 3px solid white;
        
    }

    & .menu-choice-header-h1 {
        width: 100%;
        border: 2px black  solid;
        padding: 8px 4px;
        background: white;    
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        & div.editor-optn-cont:last-child{
            margin-top: auto;
        }
    }

    & .template-display-inner-cont {
        width: 100%;
        border: 2px #ededed  solid;
        padding: 8px 4px;
        background: white;    
        height: 100%;
        overflow: auto;
      }

    & .inner-choice-menu{
        width: 100%;
        border: 2px #ededed  solid;
        padding: 8px 4px;
        background: white;    
        height: 100%;
        overflow: auto;
    }

    & .menu-choice-header-h1 p:hover, .menu-choice-header-h1 p.active {
        border: 3px solid black;
        color: black;
        background-color: #f7f7f7;
        font-weight: bolder;
    }

    & .menu-choice-subheading-cont {
        display: flex !important;
        
        & .subheading-link {
            flex-grow: 1;
        }

        & .delete-btn {
            margin-left: 8px;
            height: 25px;
            cursor: pointer;
        }
    }

}


.menu-header-h1 {
    font-weight: 550;
    font-size: 17px !important;
    text-align: left;
    margin: 10px 7px 6px 7px;
    border-bottom: 2px black solid;
    cursor: pointer;
  
    &.menu-choice {
      margin-top: 0px;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
      font-size: 17px !important;
      line-height: 1.4285em;
    }
}